/*Pour que le menu affiche ou l'on est: */
nav > ul > li:nth-child(2) > a{
    border-bottom: 1px solid white;
}
.InputAddOn {
  display: flex;
  margin-bottom: 7px;
}

.InputAddOn-field {
  flex: 1;
  /* field styles */
  border:1px solid rgb(162, 162, 162);
  border-left: none;
  padding:5px;
}

.InputAddOn-item {
  /* item styles */
  width: 125px;
  padding:5px;
  background-color: rgb(216,216,216);
  border:1px solid rgb(162, 162, 162);
  color: rgb(105,105,105);
  font: inherit;
  font-weight: normal;
}
@media screen and (max-width: 393px){
	.InputAddOn-item {
		width:auto;
	}
}
