body {
    text-align: center;
    color: white;
  background-size: 100%;
    background-repeat: repeat;
    background-position: fixed;
    background-image: url("../image/fond2.png");
}
h3{
color:white;
}

.formcandi{
    text-align: center;
    
}
.sautdeligne{
    style="white-space:pre";
}