body {
    text-align: center;
    color: white;
  background-size: 100%;
    background-repeat: repeat;
    background-position: fixed;
    background-image: url("../image/fond2.png");
}
h3{
color:white;
}

h1{
    background: linear-gradient(to bottom right ,rgb(6,135,255), black);
}

.formcandi{
    text-align: center;
    
}
.sautdeligne{
    style="white-space:pre";
}
